:root {
    /* Colors - "Calm and Focus" Dark Mode Palette */
    --color-background: #1E2A3A;
    --color-text-primary: #F0F0F0;
    --color-accent: #00C896;
    --color-surface: #162033;
    --color-muted: #A0AEC0;

    /* Fonts */
    --font-body: 'Inter', sans-serif;
    --font-display: 'Roboto Mono', monospace;

    /* Spacing */
    --border-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-body);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(24px, 5vw, 48px);
    gap: 10%;
}


header {
    width: clamp(70px, 80%, 600px);

    display: inline-flex;
    justify-content: space-between;
}

.header__brand {
    font-size: clamp(1.35rem, 2vw, 3rem);
    font-weight: 600;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.button {
    background: none;
    border: none;
    color: var(--color-muted);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.button-icon:hover {
    opacity: .7;
} 

.button-icon:active {
    opacity: .5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(70px, 80%, 600px);
    gap: 10vh;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 100%;
}

.timer-modes {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button--time-mode {
    width: 70%;
    height: 3vh;
    border-radius: var(--border-radius);
    font-size: clamp(0.9rem, 1vw, 2rem);
    font-weight: 500;
}

.button--time-mode:hover {
    background-color: var(--color-surface);
}

.button--time-mode:active {
    transition: none;
    transform: translateY(-0.5vh);
}

.timer__display {
    font-size: clamp(5rem, 8vw, 7rem);
    font-family: var(--font-display);
}